.grid-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #FBFBFB;
    border-radius: 18px;
    grid-area: "left right";
    padding: 28px;
}

.left h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    color: #7E7E7E;
    margin-bottom: 10px;
}

.name-input {
    width: 340px;
    height: 38px;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.pick-color {
    width: 203px;
    height: 50px;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(77,77,77,0.75);
    -moz-box-shadow: 1px 1px 6px 0px rgba(77,77,77,0.75);
    box-shadow: 1px 1px 6px 0px rgba(77,77,77,0.75);
}


.label-color {
    width: 63px;
    height: 50px;
}

.label-color:hover {
    cursor: pointer;
}
.box-color {
    position: absolute;
    left: 0px;
    bottom: 0px;
    visibility: hidden;
}

.text-color {
    width: 150px;
    height: 50px;
    border-left: none;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #7E7E7E;
    text-align: center;
    border: none;
}

.option {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-bottom: 20px;
}

.line-option {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.line-option label {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #7E7E7E;
}

.select {
    margin-right: 10px;
    background-color: #25283D;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -3px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -3px;
    position: relative;
    background-color: #d1d3d1;
    background-image: radial-gradient(#25283D, #25283D 35%, transparent 50%);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.logo-input {
    display: flex;
}


.logo-examples {
    margin-top: 20px;
}

#insta:hover {
    transform: translate(-1px,1px);
    transition: 2ms;
    cursor: pointer;
}

#face:hover {
    transform: translate(-1px,1px);
    transition: 2ms;
    cursor: pointer;
}

#twiter:hover {
    transform: translate(-1px,1px);
    transition: 2ms;
    cursor: pointer;
}

#twitch:hover {
    transform: translate(-1px,1px);
    transition: 2ms;
    cursor: pointer;
}

.logosTeste {
    margin-right: 20px;
    width: 70px;
    height: 70px;
}

.download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons-download {
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content: center;
}

.buttons-download .white-button {
    margin: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qrcode {
    border: 1px solid #25283D;
    margin-bottom: 10px;
}

.blue-button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-upload {
    display: none;
}