.text-options-div {
    display: flex;
    justify-content: center;
    width: 100px;
    border-top: 2px solid #25283D;
}
.selected {
    border-top: 2px solid #F8F7F9;
}

.text-options-h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 30px;
    color: #F8F7F9;
}